<footer class="bg-dark text-white text-center py-4 mt-5">
  <div class="container">
    <p class="mb-2">Hotel ULEAM &copy; {{ currentYear }}</p>
    <p class="mb-2">
      Dirección: nose xd
    </p>
    <p class="mb-3">
      <strong> Contacto: xdxdxdxddxd0 | infohoteluleam.com</strong>
    </p>
    
    <div>
      <a href="#" class="text-white me-3">Facebook</a>
      <a href="#" class="text-white me-3">Instagram</a>
      <a href="#" class="text-white">Twitter</a>
    </div>
  </div>
</footer>